%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover
		%h1.cover-title ToastGummy
		%h3.cover-subtitle Its almost time to Toast!
		%h3.cover-subtitle The hangover's reign of terror is coming to an end.
		%h3.cover-subtitle Real science. Real results. Real soon

		#form-wrapper
			= render "form"
			%small * We promise no spam, cause we hate spam
		%footer
			%p
				Powered by
				%a{href: "http://prelauncher.io"} Prelauncher.io
