%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover
		%h1.cover-title The Toast Gummy is on its way
		%h3.cover-subtitle The hangover's reign of terror is coming to an end.
		%h3.cover-subtitle Eat a few gummies. Have a few drinks. Feel great in the morning.
		%h3.cover-subtitle Real science. Real results. Real soon

		#form-wrapper
			= render "form"
			%small * Using all natural, clinically studied ingredients, the Toast! gummy 
			%small * helps protect your liver, and helps prevent hangovers.
		%footer
			%p
